body{
background-color: #A19C9A}
#contenedor{
    background-color: white;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid silver;
    padding: 20px;
}
.btnEjercicio1{
    color: white;
    text-decoration: underline;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1954B5;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.btnEjercicio2{
    color: white;
    position: absolute;
    text-decoration: underline;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1954B5;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.btnEnviar{
    color: white;
    background-color: #1954B5;
    width: 150px;
    height: 30px;
    padding: 10px;
    border: none;
}


h2{
    font-size: 15px;
    font-weight: normal;
    font-family: 'Arial', sans-serif;
    color: #333;
}
.labelEj1{
    font-weight: bold;
    font-size:15px;
}
.labelEj2{
    font-weight: normal;
    font-size:15px;
}
.cuadro_texto_EJ1{
    font-family: 'Arial', sans-serif;
    width:200px
}
.cuadro_texto_EJ2{
    font-family: 'Arial', sans-serif;
    width:300px
}
